# allow all except those indicated here "FOR ATTACKERS"
<Files *>
order allow,deny
allow from all
deny from 27.159.206.135
</Files>

RewriteEngine on

RewriteRule  ^([a-zA-Z0-9_-]+).docx/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).docx$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).doc/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).doc$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).pptx/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).pptx$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).ppt/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).ppt$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).xlsx/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).xlsx$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).xls/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).xls$         									index.php?section=image [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+).pdf/$		          							index.php?section=image [L]
RewriteRule  ^([a-zA-Z0-9_-]+).pdf$         									index.php?section=image [QSA,L]


RewriteRule  ^([a-zA-Z0-9_-]+)/page/([0-9]+)/$									index.php?section=$1&page=$2 [L]
RewriteRule  ^([a-zA-Z0-9_-]+)/page/([0-9]+)$									index.php?section=$1&page=$2 [QSA,L]
RewriteRule  ^([a-zA-Z0-9_-]+)/$												index.php?section=$1 [L]
RewriteRule  ^([a-zA-Z0-9_-]+)$													index.php?section=$1 [QSA,L]